<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="faculty.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Faculty Notebook <br> (Week 3) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[ Loops](#loops)**
    - 1.1 - [for loop](#forloop)
    - 1.2 - [while loop](#whileloop)
    - 1.3 - [break statement](#break_statement)
    - 1.4 - [continue statement](#continue_statement)
2. **[ Example Loops](#examples)**
    - 2.1 - [for loop and nested for loop](#for_and_nested)
    - 2.2 - [while loop](#while_loop)
3. **[ What are List Comprehensions](#List_Comprehensions)**
    - 3.1 - [for loop](#for_loop_list)
    - 3.2 - [nested for loop](#nested_for_loop_list)
    - 3.3 - [if statement](#if_list)
    - 3.4 - [nested condition](#nested_condition)

<a id="loops"> </a>
## 1.  Loops

<a id="forloop"> </a>
## 1.1 for loop
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>The 'for' loop in python is used to execute a block of statements or code several times until the given condition becomes false.<br>
                <b>It is used to iterate over a sequence (list, tuple, string) or other iterable objects.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of for loop:**<br>
for val in sequence:<br>
&nbsp;&nbsp;	Body of for

**Here is the flow chart of for loop:**
            <img src="forloop.jpg">

In [ ]:
# find the sum of all numbers in a given list

# given list
num_list = [66, 545, 223, 438, 224, 122, 125, 214, 111]

# variable to store the sum
total = 0

# iterate over the list
for val in num_list:
    total = total+val

# Output: The sum is 2068
print("The sum is", total)

The sum is 2068

In [ ]:
# Print the numbers 0,1,2,3,4,5
for x in range(6):
    print(x)

0
1
2
3
4
5

In [ ]:
int_list = [134, 222, 113, 234, 375, 620]
sum = 0
for iter in int_list:
    sum += iter

print("Sum =", sum)
print("Avg =", sum/len(int_list))

Sum = 1698
Avg = 283.0

<a id="whileloop"> </a>
## 1.2 while loop
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>While loop executes the same procedure by checking a given condition until the condition is false<br> 
                The condition is given before the loop and is checked before each execution of the loop.<br> 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of for loop:**<br>
while (expression):<br>
&nbsp;&nbsp;     statement_1<br>
&nbsp;&nbsp;     statement_2<br>
    ....

In [ ]:
# print the digit 0 to 4
x = 0;
while (x < 5):
     print(x)
     x += 1

0
1
2
3
4

Calculate the sum of the integers from 0 to 9

In [ ]:
a = 0;
b = 0
while (a < 10):
     b = b + a
     a = a + 1
else :
     print('The sum of first 9 integers : ',b)

The sum of first 9 integers :  45

In [ ]:
# find the length of input
n = int(input())
length = 0
while True:
    length += 1
    n //= 10
    if n == 0:
        break
print('Length is', length)

345
Length is 3

<a id="break_statement"> </a>
## 1.3 break statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>The break statement is used to stop the loop when a particular condition is true.<br><br>
                It is generally used inside a loop along with an if statement so that when a particular condition returns true, the break statement terminates the loop.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# display all the number before 838
for num in [131, 92, 838, 120, 920, 233,321, 119]:
   print(num)
   if(num==838):
        print("The number 838 is found")
        print("Terminating the loop")
        break

131
92
838
The number 838 is found
Terminating the loop

Check whether a number given by the user is negative or not.

In [ ]:
for i in range(5):
    a = int(input())
    if a < 0:
        print('Met a negative number', a)
        break
else:
    print('No negative numbers met')

56
67
-78
Met a negative number -78

### <a id="continue_statement"> </a>
## 1.4 continue statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>Continue is also a loop control statement similar to the break statement.<br><br>
                But unlike the break statement, it executes the next iteration of the loop instead of terminating the loop.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
for char in 'Python':
    if (char == 'y'):
        continue
    print('Current character: ', char)

Current character:  P
Current character:  t
Current character:  h
Current character:  o
Current character:  n

In [ ]:
# loop from 1 to 10 
for i in range(1, 11): 
    if i == 6: 
        continue
    else: 
        # otherwise print the value of i 
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

Use of continue statement in a while loop

In [ ]:
i = 0
while i < 9:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9

<a id="examples"> </a>
## 2. Examples  Loops

<a id="for_and_nested"> </a>
## 2.1 for loop and nested for loop

**Calculate the square of each element in the list**

In [ ]:
# create a list
list_1 = [1,3,13,91,100,200]
# use for loop to iterate over a list
for i in list_1:
    print(i*i)

1
9
169
8281
10000
40000

**Write a code to print table of given number**

In [ ]:
# enter the input
n=int(input())
# use for loop to create a table
for i in range(1,11):
    print(n,"x",i,"=",n*i)

4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

**Let’ see now how to print full pyramid and asterisk(star) patterns in python**

In [ ]:
print("Print full triangle using stars")
size = 5
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1 # decrementing m after each loop
    for j in range(0, i + 1):
        # printing full Triangle pyramid using stars
        print("* ", end=' ')
    print(" ")

Print full triangle using stars
        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

**Form a lower tringular matrix in ' * ' pattern**

In [ ]:
for i in range(0, 5):
    for j in range(0, i+1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * * * *

**Write a program to print alphabetical pattern using ascii values**

In [ ]:
for i in range (65,70):
    # inner loop
    for j in range(65,i+1):
        print(chr(j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

**Access each individual item of the sublists using nested for loop**

In [ ]:
list_of_lists = [['Pune', 'Mumbai', 'Delhi'],[23, 12, 32],[9.29, 8.28, 7.27]]

for list in list_of_lists:
    for item in list:
        print(item)

Pune
Mumbai
Delhi
23
12
32
9.29
8.28
7.27

**Read a number n and print an identity matrix of the same order**

In [ ]:
# identity matrix
n=int(input("Enter a number: "))
for i in range(0,n):
    for j in range(0,n):
        if(i==j):
            print("1",sep=" ",end=" ")
        else:
            print("0",sep=" ",end=" ")
    print()

Enter a number: 3
1 0 0
0 1 0
0 0 1

**Access each individual letter from the given list of words**

In [ ]:
words= ["Apple", "Banana", "Car", "Dolphin" ]
for word in words:
        #access word from the list
        print ("The following lines will print each letters of "+word)
        for letter in word:
                #access letter for the word
                print (letter)
        print("")

The following lines will print each letters of Apple
A
p
p
l
e

The following lines will print each letters of Banana
B
a
n
a
n
a

The following lines will print each letters of Car
C
a
r

The following lines will print each letters of Dolphin
D
o
l
p
h
i
n

**Print a number pattern using a for loop and range function**

In [ ]:
# 15 is the total number to print
for num in range(15):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

10 10 10 10 10 10 10 10 10 10

11 11 11 11 11 11 11 11 11 11 11

12 12 12 12 12 12 12 12 12 12 12 12

13 13 13 13 13 13 13 13 13 13 13 13 13

14 14 14 14 14 14 14 14 14 14 14 14 14 14

**Find the first 3-digit number that’s divisible by 12**

In [ ]:
for i in range(0, 1000, 12):
    if len(str(i)) == 3:
        print(i)
        break

108

**Display all the odd numbers in a given list.Make use of 'continue'  statement**

In [ ]:
for num in [230, 211, 932, 626, 234, 829, 424]:
    if num%2 == 0:
        continue
    print(num)

211
829

<a id="while_loop"> </a>
## 2.2 while loop

In [ ]:
# while loop with if else
a = 7
while a > 0:
    a = a - 1
    if a == 2:
        break
    print(a)
else:
    print("Loop is finished")

6
5
4
3

In [ ]:
# break in while
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
# break in while loop
while True:
    n = input("Please enter 'hello':")
    if n.strip() == 'hello':
        break

Please enter 'hello':hello

In [ ]:
# break in while loop
num_sum = 0
count = 0
while(count<10):
    num_sum = num_sum + count
    count = count + 1 
    if count== 4:
        break
print("Sum of first",count,"integers is:", num_sum)

Sum of first 4 integers is: 6

In [ ]:
# continue in while loop
i = 0
while i < 7:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6
7

In [ ]:
# continue in while loop
for x in range(7):
    if (x == 3 or x==6):
        continue
    print(x)

0
1
2
4
5

<a id="List_Comprehensions"> </a>
## 3. What are List Comprehensions?

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>List comprehensions are used to create a new list from an existing iterable. While creating the new list, elements from the iterable can be selectively included in the new list (based on conditions) and transformed as required.<br>
                        <br>Following are the three Components of list comprehensions:<br>
                        . Iterable<br>
                        . Output expression<br>
                        . Iterator variable which takes the values of the members of the iterable
                        
                        <img src="list.png", height="400", width="400">
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**In python, list comprehensions are constructed as follows:**<br>
    
    list = [x for x in iterable]

<a id="List_Comprehensions_loops"> </a>
## List Comprehensions vs loops

<a id="for_loop_list"> </a>
### 3.1. for loop

Let’s create a new list using a given string:<br>
Suppose, you want to separate each element of the string 'Great Lakes' and make a list out of them. The immediate approach would be to make use of for loop<br>

In [ ]:
# Using loop for constructing output list 
letter_list=[]
for i in 'Great Lakes':
    letter_list.append(i)
letter_list

['G', 'r', 'e', 'a', 't', ' ', 'L', 'a', 'k', 'e', 's']

Here, the output is encapsulated within square brackets that means it is a list. letter_list.append(i) is the function used to add 'i' ( obtained from new iteration ) to the array from previous iteration executed. 'i' takes values of letters from the string 'Great Lakes'.But with a python list comprehension, we can do this in one line

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Remember that a python string is iterable. We can not iterate dictionary like this. Iterating through a dictionary gives us error since dictionary objects do not have the attribute 'append'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Using loop for constructing output dictionary
dict_1={}
for i in 'Great Lakes':
    dict_1.append(i)
dict_1

AttributeError: 'dict' object has no attribute 'append'

In [ ]:
# using list comprehensions
new_list = [i for i in 'Great Lakes']
print(new_list)

['G', 'r', 'e', 'a', 't', ' ', 'L', 'a', 'k', 'e', 's']

From the output we can see, a new list is created and assigned to the 'new_list' variable, and list contains the items of the iterable string 'Great Lakes'. We use print() function to print the output

**Find the squares of each element using list comprehension**

In [ ]:
num = [13, 32, 33, 24]
num_squares = [n**2 for n in num]

print(num_squares)

[169, 1024, 1089, 576]

Here, the output is encapsulated within square brackets that means it is a list. n**2 is the expression executed for each n. 'n' takes values of elements in 'num'

**We can use list comprehension to iterate over list of strings. Convert all the words in the given list to the upper case**

In [ ]:
list_1 = ["yes", "it's", "a", "Beautiful", "Day"]

upper_list_1 = [str.upper() for str in list_1]

print(upper_list_1)

['YES', "IT'S", 'A', 'BEAUTIFUL', 'DAY']

**List comprehensions can be used to produce a list of a lists, as shown below:**

In [ ]:
list_1 = [11, 12, 13, 14]

square_cube_num = [ [a**2, a**3] for a in list_1]

print(square_cube_num)

[[121, 1331], [144, 1728], [169, 2197], [196, 2744]]

Here we use list_1 to create square_cube_num, which is a list of lists that comprises of values of squares and cubes of the numbers from list_1

<a id="nested_for_loop_list"> </a>
### 3.2 nested for loop

**Print the tables of numbers from 13 to 17**

In [ ]:
[[i*j for j in range(1,11)] for i in range(13,18)]

[[13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170]]

**Create a list of tuples with a and b such that a is less than b**

In [ ]:
list_1 = [13, 72, 27, 83, 89, 54]
list_2 = [25, 37, 35]

new_list = [(a, b) for a in list_1 for b in list_2 if a < b]

print(new_list)

[(13, 25), (13, 37), (13, 35), (27, 37), (27, 35)]

### Conditional list comprehension
New lists can be created by 'list comprehensions' that selectively modify existing squential data types like lists. For this conditional statements can be used.<br>
'Conditional list comprehension' adds only those items to the list that meet the condition (for which the condition is True).

**if statement**                        <img src="condition.png", height="550", width="550">

**if-else statement**                        <img src="ifelse.png", height="550", width="550">

<a id="if_list"> </a>
### 3.3 if satement

**We create an example to print the even numbers from 0 to 11.**

In [ ]:
num_list = [i for i in range(11) if i%2==0]
print(num_list)

[0, 2, 4, 6, 8, 10]

**Square the number if its even, else, cube it**

In [ ]:
[i**2 if i%2==0 else i**3 for i in [2,3,4,5]]

[4, 27, 16, 125]

<a id="nested_condition"> </a>
### 3.4 nested condition
Nested conditions comprise conditional statements contained within the definition of other conditional statements

**Find all the numbers from a given list divisible by 2 and 3**

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 18, 20]
number_list = [number for number in numbers if number % 2 == 0 if number % 3 == 0]
print(number_list)

[6, 18]

Here, list comprehension checks the number is divisible by 2 and 3. If number satisfies both conditions, number is appended to number_list.

**For all integers from 0 to 20.Check if the number is odd or even**

In [ ]:
["Even" if i%2==0 else "Odd" for i in range(21)]

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

**Make a list of numbers common to both the lists using list comprehension**

In [ ]:
list_1 = [102, 232, 233, 344, 456, 564, 234]
list_2 = [102, 233, 324, 564, 567, 523, 456]

common_num = [a for a in list_1 for b in list_2 if a == b]

print(common_num)

[102, 233, 456, 564]